/*
colores
amarillo
#c8d23e
#ccd547
rojo
#f05656
fondo gris
#dbdbdb

fondo negro
#1d1d1b

gradiente vertical #c9d244   #776da1
*/
@font-face {
    font-family: 'Work Sans Regular';
    src: url(../fonts/WorkSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Work Sans Bold';
    src: url(../fonts/WorkSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Work Sans Light';
    src: url(../fonts/WorkSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Work Sans Black';
    src: url(../fonts/WorkSans-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Work Sans Extra Bold';
    src: url(../fonts/WorkSans-ExtraBold.ttf) format('truetype');
}

/* Aplica la fuente a los elementos deseados */
body {
    font-family: 'Work Sans Regular', sans-serif;
}

.strong{
    font-family: 'Work Sans Bold', sans-serif !important;
}
.strong-2{
    font-family: 'Work Sans Black', sans-serif !important;
}
.strong-3{
    font-family: 'Work Sans Extra Bold', sans-serif !important;
}
p{
    margin-bottom: 10px;
}
a.btn-verde,
a.btn-rojo{
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem 2rem;
    font-size: 1rem;
    border-radius: .25rem;

    font-size: 12pt;
    box-shadow: 10px 10px 15px #1d1a191b;
}


.content-top-banner,
.content-main,
.content-footer,
.content-banner,
.content-info{
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.content-top-banner .top-banner,
.content-main .main,
.content-info .info{
    
    width: 1024px;
    margin: 0 auto;
}
.content-info .info-2{
    width: 820px;
    margin: 0 auto;
}
.content-top-banner,
.content-main,
.content-contacto{
    color: #fff;
    background-color: #1d1d1b;
}
.content-top-banner .top-banner{
    padding: 70px 0px;
}
.content-banner{
    padding: 55px 25px;
    background-image: linear-gradient(to bottom,#7c72a4, #5b5384);
    border-bottom: 15px solid #7c72a4;
}
.info-2-verde{
    color: #fff;
    background-image: linear-gradient(to bottom, #7c72a4,#5b5384); 
    border-bottom: 20px solid #7c72a4;
}
.info-2-txt{
    font-size: 18pt;
}
.content-info{
    padding: 25px 25px;
    background-color: #dbdbdb;
}
.main{
    justify-content: space-between;
    gap: 25px;
    height: 1024px;
    padding: 40px 160px;
    background-image: url('../images/bg-landing-2.png');
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 340px;
    padding: 15px 18px;
    border-radius: 11px;
    background-color: rgba(255, 255, 255, .8);
}
.form .titulo-form{
    display: flex;
    justify-content: center;
    padding: 5px 10px;

    font-size: 14pt;
    background-color: #776da1;
}
.form .subtitulo{
    color: #776da1;
    font-size: 7pt;
    text-align: center;
}
.form .nota{
    text-align: center;
    color: #616161;
    font-size: 7pt;
}
.form .divider{
    width: 2px;
    height: 76px;
    background-color: #776da1;
}
.subtitulo-form{

    color: #1d1a19;
    font-size: 7pt;
}
.text-radio{
    width: 220px;
}
.text-radio,
.form-check-label{
    color: #616161;
    font-size: 6pt;
}
input[type=text],
select.form-select{
    color: #616161;
    padding: 3px 0;
    font-size: 8pt;
    border-radius: 0;
    background-color: transparent;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 1px solid #1d1d1b;
}
.form-check .form-check-input{
    margin-left: -18px;
}
button.btn-verde,
a.btn-verde{
    color: #fff;
    background-color: #776da1;
    border-color: #776da1;
}
button.btn-rojo,
a.btn-rojo{
    color: #fff;
    background-color: #f04e4e;
    border-color: #f04e4e;
}
.btn-enviar{
    width: 100%;
    font-size: 16pt;
    text-transform: uppercase;
}
.banner{
    justify-content: center;
    align-items: center;
}
.info{
    padding: 80px 60px 100px;
    gap: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 30px #1d1a191b;
    background-image: url('../images/bg-universidad.jpg');
    background-size: 115%;
    background-repeat: no-repeat;
    background-position-x: -15px;
}
.contorno{
    font-size: 9pt;
    text-transform: uppercase;
    color: #776da1;
    padding: 5px 0;
    width: 180px;
    text-align: center;

    border-top: 2px solid #776da1;
    border-bottom: 2px solid #776da1;
}
.txt-info{
    font-size: 8pt;
    color: #474747;
    text-align: center;
}
.icon-info{
    align-items: end;
    height: 75px;
}
.icon-info img{
    height: fit-content;
}
.line{
    height: 2px;
    width: 100%;
    background-color: #fff;
}
.titulo-seccion{
    font-size: 10pt;
}
.txt-dato{
    font-size: 9pt;
}
.content-contacto{
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.contacto{
    font-size: 14pt;
}
.txt-dato a{
    color: #fff;
    text-decoration: none;
}
.cta-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 128px;
}
.footer{
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    padding: 15px 15px;
    font-size: 9pt;
    color: #dbdbdb;
    background-color: #000;
}
.text-footer{
    justify-content: center;
}
.info-botones{
    color: #767676;
    text-align: center;
    font-size: 5pt;
    width: 620px;
    margin: 0 auto;
}
.col-elegir{
    width: 25%;
}

@media all and (max-width: 992px){
    .content-top-banner .top-banner,
    .content-main .main,
    .content-info .info{
        width: 100%;
    }
    .content-main .main img.float-end{
        width: 240px;
    }
    .content-top-banner .top-banner {
        padding: 40px 0px;
    }
    .content-contacto{
        padding: 20px 0;
    }
    .content-info .info-2{
        width: 100%;
    }
    .main{
        padding: 0 20px;
        height: 680px;
        background-position-x: -50px;
        background-size: cover;
    }
    .info{
        background-size: cover;
    }
    .text-footer{
        text-align: center;
    }
    .cta-contacto{
        width: 100%;
    }
    .info-botones{
        width: 100%;
    }
    .col-elegir{
        width: 100%;
    }
    .banner img {
        width: 300px;
    }
    .top-banner img {
        width: 165px;
    }
}